body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    padding: 25px;
    font-size: 25px;
    border-radius: 25px;
    background-color: #808080;
}